
<div>
<br>
    <form>
        <div class="form-group col-md-3">
            <input type="email"  name="email" placeholder="Email" class="form-control">
        </div>
        <br>
        <div class="form-group col-md-3">
            <input type="password"  name="password" placeholder="Password" class="form-control">
        </div>
        <br>
        <div >
            <!--<button type="submit"(click)="IniciarSesion()" class="btn btn-primary"> login</button>-->
        </div>
    </form>
    
</div>

<!--
<div class="card-body"></div>
<div class="card">
    <div class="card-header">
        
        <h1>Listado de usuarios</h1>
        
    </div>
    <div class="card-body">


        <div class="card-body"></div>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ACCIONES</th>
                        <th scope="col">ID</th>
                        <th scope="col">CORREO</th>
                        <th scope="col">CONTRASEÑA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of Users; let iControl=index">
                        <td>

                             </td>
                        <td>{{user.id}}</td>
                        <td>{{user.correo}}</td>
                        <td>{{user.contra}}</td>
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
</div>
-->>